<div class="head-bread">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Men</a></li>
            <li class="active">Shop</li>
        </ol>
    </div>
</div>
<div class="showcase-grid">
    <div class="container">
        <div class="col-md-8 showcase">
            <div class="flexslider">

                <div class="clearfix"></div>
                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                    <ul class="slides"
                        style="width: 1200%; transition-duration: 0s; transform: translate3d(-1440px, 0px, 0px);">
                        <li data-thumb="images/show3.jpg" class="clone" aria-hidden="true"
                            style="width: 720px; float: left; display: block;">
                            <div class="thumb-image"> <img src="images/show3.jpg" data-imagezoom="true"
                                    class="img-responsive" draggable="false"> </div>
                        </li>
                        <li data-thumb="images/show.jpg" style="width: 720px; float: left; display: block;" class="">
                            <div class="thumb-image"> <img src="images/show.jpg" data-imagezoom="true"
                                    class="img-responsive" draggable="false"> </div>
                        </li>
                        <li data-thumb="images/show1.jpg" style="width: 720px; float: left; display: block;"
                            class="flex-active-slide">
                            <div class="thumb-image"> <img src="images/show1.jpg" data-imagezoom="true"
                                    class="img-responsive" draggable="false"> </div>
                        </li>
                        <li data-thumb="images/show2.jpg" style="width: 720px; float: left; display: block;" class="">
                            <div class="thumb-image"> <img src="images/show2.jpg" data-imagezoom="true"
                                    class="img-responsive" draggable="false"> </div>
                        </li>
                        <li data-thumb="images/show3.jpg" style="width: 720px; float: left; display: block;" class="">
                            <div class="thumb-image"> <img src="images/show3.jpg" data-imagezoom="true"
                                    class="img-responsive" draggable="false"> </div>
                        </li>
                        <li data-thumb="images/show.jpg" style="width: 720px; float: left; display: block;"
                            class="clone" aria-hidden="true">
                            <div class="thumb-image"> <img src="images/show.jpg" data-imagezoom="true"
                                    class="img-responsive" draggable="false"> </div>
                        </li>
                    </ul>
                </div>
                <ol class="flex-control-nav flex-control-thumbs">
                    <li><img src="images/show.jpg" class="" draggable="false"></li>
                    <li><img src="images/show1.jpg" draggable="false" class="flex-active"></li>
                    <li><img src="images/show2.jpg" draggable="false" class=""></li>
                    <li><img src="images/show3.jpg" draggable="false" class=""></li>
                </ol>
                <ul class="flex-direction-nav">
                    <li class="flex-nav-prev"><a class="flex-prev" href="#">Previous</a></li>
                    <li class="flex-nav-next"><a class="flex-next" href="#">Next</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 showcase">
            <div class="showcase-rt-top">
                <div class="pull-left shoe-name">
                    <h3>Nike Air Max 2015</h3>
                    <p>Men's running shoes</p>
                    <h4>$190</h4>
                </div>
                <div class="pull-left rating-stars">
                    <ul>
                        <li><a href="#" class="active"><span class="glyphicon glyphicon-star star-stn"
                                    aria-hidden="true"></span></a></li>
                        <li><a href="#" class="active"><span class="glyphicon glyphicon-star star-stn"
                                    aria-hidden="true"></span></a></li>
                        <li><a href="#" class="active"><span class="glyphicon glyphicon-star star-stn"
                                    aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star star-stn" aria-hidden="true"></span></a>
                        </li>
                        <li><a href="#"><span class="glyphicon glyphicon-star star-stn" aria-hidden="true"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <hr class="featurette-divider">
            <div class="shocase-rt-bot">
                <div class="float-qty-chart">
                    <ul>
                        <li class="qty">
                            <h3>Size Chart</h3>
                            <select class="form-control siz-chrt">
                                <option>6 US</option>
                                <option>7 US</option>
                                <option>8 US</option>
                                <option>9 US</option>
                                <option>10 US</option>
                                <option>11 US</option>
                            </select>
                        </li>
                        <li class="qty">
                            <h4>QTY</h4>
                            <select class="form-control qnty-chrt">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                            </select>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <ul>
                    <li class="ad-2-crt simpleCart_shelfItem">
                        <a class="btn item_add" href="#" role="button">Add To Cart</a>
                        <a class="btn" href="#" role="button">Buy Now</a>
                    </li>
                </ul>
            </div>
            <div class="showcase-last">
                <h3>product details</h3>
                <ul>
                    <li>Internal bootie wraps your foot for a sock-like fit</li>
                    <li>Unique eyestays work with the Flywire cables to create an even better glove-like fit</li>
                    <li>Waffle outsole for durability and multi-surface traction</li>
                    <li>Sculpted Cushlon midsole combines plush cushioning and springy resilience for impact protection
                    </li>
                    <li>Midsole flex grooves for greater forefoot flexibility</li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>